body {
    padding: 0;
    margin: 10px;
    font-family: sans-serif;
    color: #545454;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 30px;
    background-color: #545454;
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border-radius: 5px;
}

.header-tab:hover {
    cursor: pointer;
    color: cyan;
}

.selected-tab {
    color: cyan;
}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-container form {
    margin: 10px;
}

.search-container form input, .search-container form select, .search-container form button {
    padding: 20px;
    border: 1px solid #545454;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
}

.search-container form button {
    background-color: #545454;
    color: white;
}

.error {
    color: red;
}

.search-results-container, .favourites-container  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.movie-card {
    border: 1px solid #545454;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
}

.movie-details-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.add-favourite-button {
    padding: 20px;
    background-color: #545454;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.add-favourite-button:hover {
    color: cyan;
}

.remove-favourite {
    color: cyan;
}

.movie-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}

.movie-year {
    font-size: 15px;
    text-align: center;
}

.movie-details {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourites-container  {
    margin-top: 20px;
}

.movie-poster {
    width: 100%;
    text-align: center;
}

.active {
    display: none;
}

@media(max-width: 768px) {

    .search-container form {
        display: flex;
        flex-direction: column;
    }

    .search-results-container {
        display: flex;  
        flex-direction: column; 
        align-items: center;
    }

    .movie-card {
        margin: 10px 0px;
    }
}
